#container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(94, 94, 236);
}
button:active {
  background-color: rgb(64, 64, 220);
}
input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

#diceImages img {
  width: 100px;
  margin: 10px;
}
